Welcome to {{ ansible_distribution }} (managed by Ansible)

Host: {{ inventory_hostname }}
Date: {{ ansible_date_time.date }} {{ ansible_date_time.time }}
Timezone: {{ base_timezone }}
Locale: {{ base_locale }}
